<template>
    <div class="col-6 col-md-4 col-lg-3 card-responsive-padding">
        <a class="card hlv-card"  :href="hrefComputed" target="_blank">
            <img class="card-img-top img-card" :src="mainphotoComputed" >
            <img class="sold-big" :class="{hideSold: !soldComputed}" src="/img/vendido.png" style="position:absolute; top:0px; left:0px;">
            <span v-if="ad.current_user_id>0">
                <img v-if="ad.favorite" class="img-fav" src="/img/fav-on.png"   @click="favClick">
                <img v-else             class="img-fav" src="/img/fav-off.png"  @click="favClick">      
            </span>          
            <div class="card-body" style="padding:0.7rem;">
                <strong>{{ad.price}} {{ad.currency}}</strong>
                <h5 class="card-title" style="overflow-y: hidden; height:1.4rem;">{{adTitleComputed}}</h5>
                <div class="card-text" >
                <p style="min-height: 70px;">{{adDescriptionComputed}}</p>
                <p>
                    <sub class="float-left text-muted"><img src="/img/ubicacion.png" style="vertical-align:middle;">{{cityNameComputed}}</sub>
                    <sub class="float-right text-muted"><img src="/img/veces-visto.png" style="vertical-align:middle;">{{ad.views}}</sub>
                </p>
                </div>
            </div>            
        </a>
    </div>
</template>

<script>
export default {
    data:  function(){
        return{
            userIsActive: false,
            hrefAdDetail : '',
    }},
    props:['ad', 'index','alertparentdelete'],
    methods:{
        favClick: function(event){
            event.preventDefault();
            if (this.ad.favorite && this.alertparentdelete){ //alertparentdelete is a flag to show or not a dialog on deletion
                swal({
                    title: '¿Quitar de favoritos?',
                    icon: 'warning',
                    buttons:{ accept:'Si', cancel:'No' }
                    }).then((result) => {
                        if (result == 'accept'){
                            axios('/tagfav/' + this.ad.id ).then((response)=>{
                                if (response.data['result'] === 'ok'){
                                    this.ad.favorite = !this.ad.favorite;
                                    this.$emit("remove", this.ad.id); //remove this item from the cards collection in the parent component (list of card in user's favorites screen)
                                }else{
                                    swal("Upsss, algo ha salido mal... inténtalo más tarde");
                                }                            
                            });  
                        }
                    });
            }else{ //no alertparentdelete confirmation required
                axios('/tagfav/' + this.ad.id ).then((response)=>{
                    if (response.data['result'] === 'ok'){
                        this.ad.favorite = !this.ad.favorite;
                    }else{
                        swal("Upsss, algo ha salido mal... inténtalo más tarde");
                    }                            
                });  
            }
            
        }
    },
    computed:{
        hrefComputed : function(){
            if (typeof(this.ad.category) == 'object'){
                //request is comming from a favorite page petition (getCardsDataFavs)
                return '/anuncio/'+ this.ad.category.name.toLowerCase().replace(/ /g,"-") +'/'+ this.ad.slug;
            }else{ //request is comming from SOLR petition
                return '/anuncio/'+ this.ad.category.toLowerCase().replace(/ /g,"-") +'/'+ this.ad.slug;
            }
        },
        cityNameComputed: function(){
            if (typeof(this.ad.city) == 'object'){
                return this.ad.city.name; //request is comming from a favorite page petition (getCardsDataFavs)
            }else{ //request is comming from SOLR petition
                return this.ad.city;
            }
        },
        mainphotoComputed: function(){
            if (typeof(this.ad.main_photo) == 'object'){
                //request is comming from a favorite page petition (getCardsDataFavs)
                return (this.ad.main_photo == null || this.ad.main_photo.file == "---" ) ?  '/img/default/' + this.ad.category_id + '.png' : '/storage/cards/' + this.ad.main_photo.file ;
            }else{ //request is comming from SOLR petition
                return (this.ad.main_photo == null || this.ad.main_photo == "---" ) ?  '/img/default/' + this.ad.category_id + '.png' : '/storage/cards/' + this.ad.main_photo ;
            }
        },
        soldComputed: function(){
            return (this.ad.sold) ? true : false; 
        },
        adTitleComputed: function(){
            return (this.ad.title.length>18) ? this.ad.title.substring(0,20) + '…' : this.ad.title; 
        },
        adDescriptionComputed: function(){
            return (this.ad.description.length>60) ? this.ad.description.substring(0,60) + '…' : this.ad.description; 
        },
        adsenseSlotComputed: function(){
            return parseFloat(this.index/4) == parseInt(this.index/4);
        }
    },
    mounted: function(){
        
    }
}
</script>

<style scoped>
.hideSold{
    display:none;
}
.img-card{
    -webkit-border-radius: 10px 10px 0px 0px; 
    border-radius: 10px 10px 0px 0px;
}
.img-fav{
    position:absolute; 
    top:9px; right:9px;
}
</style>