<template>
    <div class="row" :class="{ deactivated: deleted}">
        <div class="col-md-6 float-right">
            <img :src="mainPhotoPath" class="image-responsive" width="100%" style="border: 1px solid #ccc; padding:5px; margin:5px;">
            <img :class="{ deactivated: !sold }" src="/img/vendido.png" style="position:absolute; top:5px; left:20px;">
        </div>
        <div class="col-md-6 float-left" >                    
            <h4>{{adJson.title}}</h4>
            <p>{{adJson.description}}<br>
            Precio: {{adJson.price}} {{adJson.currency}}<br>
            Telf.: {{adJson.phone}}<br>
            Categoría: "{{category}}"<br>
            Lugar: {{city}}</p>
            <p class="fontsmall">
                Publicado el: {{adJson.created_at}}<br>
                Visto: {{adJson.views}} veces<br>
                ID: {{adJson.id}}
            </p>                       
        </div>                  
        <div class="col-12" style="border-bottom:1px solid #ddd; padding-bottom:10px;">
            <div class="float-right">
                <button type="button" class="btn btn-secondary btn-sm" @click="onClickEdit"  :disabled="isDisabled">Editar</button>
                <button type="button" class="btn btn-secondary btn-sm" @click="onClickPhotos" :disabled="isDisabled">Fotos</button>
                <button type="button" class="btn btn-secondary btn-sm" @click="onClickSold" :disabled="isDisabled">Vendido</button>
                <button type="button" class="btn btn-secondary btn-sm" @click="onClickDelete">Borrar</button>
            </div>
        </div>
    </div>    
</template>

<script>
export default {
    data: function(){
        return{
            sold: false,
            deleted:false,
            adJson :{},
            mainPhotoPath: ''
        }
    },
    props:[
        'ad','photo','category','city'
    ],
    methods: {
        onClickEdit: function(){
            window.location.href = "/editad/" + this.adJson.id;
        },
        onClickPhotos: function(){
             window.location.href = "/editphotos/" + this.adJson.id;
        },
        onClickSold: function(){
            swal("¿Marcar como vendido?\nRecuerda, esta acción no se puede deshacer",{
                buttons:{
                    accept:'Aceptar',
                    cancel:'Cancelar'
                }
            }).then((value)=>{  //IMPORTANT!! this syntax allows access to "this" object inside the anomymous function
                switch(value){
                    case 'accept':
                        axios('/dashboard/itemsold/' + this.adJson.id).then((response)=>{
                            if (response.data[0] === 'ok'){
                                this.sold=true;
                            }
                        });
                        break;
                    case 'cancel':
                        break;
                }
            });
            
        },
        onClickDelete: function(){
            swal("¿Eliminar anuncio?,\nRecuerda, esta acción no de puede deshacer",{
                buttons:{
                    accept:'Aceptar',
                    cancel:'Cancelar'
                }
            }).then((value)=>{
                switch(value){
                    case 'accept':
                        axios('/dashboard/deletead/' + this.adJson.id).then((response)=>{
                            if (response.data[0] === 'ok'){
                                this.deleted=true;
                                swal("Hecho!", "Anuncio eliminado", "success")
                            }                            
                        });
                        break;
                    case 'cancel':
                        break;
                }
            });
        }
    },
    computed: {
       isDisabled: function(){
           return this.sold;
       },
       isDeleted: function(){
           return this.deleted;
       }
    },
    mounted: function() {
        this.adJson = JSON.parse(this.ad);
        this.photoJson = JSON.parse(this.photo);
        this.sold = this.adJson.sold === null ? false : true;
        if (this.photoJson){
            this.mainPhotoPath = "storage/cards/" + this.photoJson.file + "?t=" + parseInt(Math.random()*1000);
        }else{
           this.mainPhotoPath = null;
        } 
    }
}
</script>

<style scoped>
.deactivated{
    display:none;
}
</style>