<template >
<div>
    <div v-for="photo in photosJson" :key="photo.id" >
        <photo-item :photo="photo.file" :photoid="photo.id" :order="photo.order" :main="photo.main" v-on:changeMainPhoto="updateMainPhoto">
        </photo-item>
    </div>
    <div class="row">
        <div class="col-12 text-center" style="margin: 1rem;">
            <a href="/dashboard" >Volver al listado de anuncios</a>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data: function() {
        return {
            counter:0,
            photosJson:{},
        }
    },
    props: [
        'photos','mainPhotoId'
    ],
    methods: {
         updateMainPhoto: function(newMainPhotoId){ //update photosJson PROPERTY to reflect the new main photo and the template will re-render the data
            let aux = newMainPhotoId;
            this.photosJson.forEach(function(photo, index){
                if (photo.id == aux){
                    photo.main = 1;
                }else{
                    photo.main = 0;
                }
            }); 
        }
    },
    mounted: function() {
        this.photosJson = JSON.parse(this.photos);
        console.log(this.photos);
    },

}
</script>