<template>
     <div v-bind:id="photoOnlyName" v-bind:style="{display: displayStatus, position:'relative', padding:'10px', 'border-bottom': '1px solid #ccc'}" >
        <div style="position: absolute; top:8px; right:6px; cursor:pointer;">
            <img v-on:click="onClickTrash" style=" width:36px; height:36px;"  src="/img/icons/trash.png">
        </div>
        <div style="position: absolute; top:55px; right:6px; cursor:pointer;">
            <img v-on:click="onClickRotate" style=" width:36px; height:36px;"  src="/img/icons/rotate.png">
        </div>
        <div style="position: absolute; top:102px; right:6px; cursor:pointer;" >
            <img v-on:click="onClickFirst" :class="{hideElement: mainPhoto}" style=" width:36px; height:36px;"  src="/img/icons/notfirstplace.png" >
            <img v-on:click="onClickFirst" :class="{hideElement: !mainPhoto}" style=" width:36px; height:36px;"  src="/img/icons/firstplace.png" >
        </div>
        <div style="height: 210px; width: 210px; position: relative; border: 1px solid #ddd; padding: 5px;">
            <img @click="onClickPhoto" :src="photoWithPath" 
                style="max-height: 100%;
                max-width: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                margin: auto;
                background-color:#f8f8f8;
                border: 1px solid @f2f3f2;" 
                :class="{rotate90cw: applyRotation90, rotate180cw: applyRotation180, rotate270cw: applyRotation270, rotate360cw: applyRotation360}">
        </div>
    </div>
</template>

<script>
export default {
    data: function(){
        return {
            displayStatus: 'block',
            rotate:0
        }
    },
    props: ['photo','photoid','order','main'], //key is used to force re-rendering. Emit and event form here, in the parent +1 to key => re-render is triggered
    methods:{
        onClickPhoto: function(){
            console.log("click photo");
        },
        onClickTrash: function(){
            swal("¿Eliminar imagen?", {
                buttons: {
                    cancel: "Cancelar",
                    delete: "Eliminar",
                    },
                })
                .then((value) => {
                    switch (value) {
                        case "cancel":
                            break;               
                        case "delete":
                            //ajax call to delete the image
                            axios.delete('/deletephoto/' + this.photoid).then((response)=>{
                                let status = response.data[0];
                                let message = response.data[1];
                                if(status === "ok"){
                                    this.displayStatus = 'none';
                                    swal("Hecho!", "Imagen eliminada", "success");
                                }else{
                                     swal("Ups!", "No se pudo eliminar la imagen\n" + message, "warning");
                                }
                            });
                            
                            break;
                    }
                });
        },
        onClickRotate: function(){
            swal("¿Rotar imagen 90º?",{
                buttons:{
                    cancel: "Cancelar",
                    accept: "Aceptar"
                }
            }).then( (value) => {
                switch (value){
                    case "cancel":
                        break;
                    case "accept":
                        axios.get('/rotatephoto/' + this.photoid).then((response)=>{
                            let status = response.data[0];
                                if(status === "true"){
                                    this.rotate = this.rotate+90;
                                    if (this.rotate>360){
                                        this.rotate = 90;
                                    }
                                }else{
                                     swal("Ups!", "No ha sido posible rotar la imagen", "warning");
                                }
                        });
                }
            })
        },
        onClickFirst: function(){
            if (this.main == 1){
                swal("Imagen principal", "Esta ya es la imagen principal de este anuncio :)", "info");
            }else{
                swal("¿Establecer como imagen princial?",{
                    buttons:{
                        cancel: "Cancelar",
                        accept: "Aceptar"
                    }}
                ).then( (value) => {
                    switch (value){
                        case "cancel":
                            break;
                        case "accept":
                            axios.get('/setasmainphoto/' + this.photoid).then((response)=>{
                                let status = response.data[0];
                                    if(status === "true"){
                                        this.$emit("changeMainPhoto", this.photoid); //send event to the parent to update on screen status (this component and siblings) 
                                    }else{
                                        swal("Ups!", "No ha sido posible guardar la opcion", "warning");
                                    }
                            });
                    }
                })
            }
        },

    },
    mounted: function(){
        console.log("photo item " + this.photoid + " mounted");
    },
    computed:{
        photoWithPath: function(){
            return "/storage/thumb200px/"+this.photo;
        },
        photoOnlyName: function(){
            return this.photo.split(".")[0];
        },
        mainPhoto: function(){
            return this.main == 1 ? true: false;
        },
        applyRotation90: function(){
            return this.rotate == 90 ? true: false;
        },
        applyRotation180: function(){
            return this.rotate == 180 ? true: false;
        },
        applyRotation270: function(){
            return this.rotate == 270 ? true: false;
        },
        applyRotation360: function(){
            return this.rotate == 360 ? true: false;
        }
    }
}
</script>

<style scoped>
.hideElement{
    display: none;
}

/**
 * ----------------------------------------
 * animation rotate-90-cw
 * ----------------------------------------
 */
.rotate90cw {
	-webkit-animation: rotate90cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate90cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate90cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes rotate90cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

/**
 * ----------------------------------------
 * animation rotate-180-cw
 * ----------------------------------------
 */
.rotate180cw {
	-webkit-animation: rotate180cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate180cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate180cw {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes rotate180cw {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}


/**
 * ----------------------------------------
 * animation rotate-270-cw
 * ----------------------------------------
 */
.rotate270cw {
	-webkit-animation: rotate270cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate270cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate270cw {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@keyframes rotate270cw {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

/**
 * ----------------------------------------
 * animation rotate-270-cw
 * ----------------------------------------
 */
.rotate360cw {
	-webkit-animation: rotate360cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate360cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate360cw {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate360cw {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
</style>